/* ...................................externalcss................................... */
   /* name */
.p1{  

    background-color: seashell;
    width: 12;
    font-weight: bold;
    font-style:italic ;
    text-align: center;
     }
  /* lastname */
     .p2{
        background-color:wheat;
        font-style:italic ;
        padding-left: 2ch; 
        /* padding: 30px; */
        font-size: large; 
        text-align: center;
        font-weight: bold;
     }
     /* address */
     .p3
     {
         background-color: wheat;
    text-align: center;
    font-weight: bold;
    font-style:italic ;
    font-family:'Times New Roman'; 
     }
     /* email */
    #child_4p
     {
        background-color:seashell;
    text-align:center;
    font-style:italic ;
    font-family: 'Lucida Sans';
    font-weight: bold;   
    /* background-image: url(form-img.jpg); */
     }
     /* city */
     .P5
    { 
        background-color: seashell;
        font-weight: bold;
        text-align: center;
        font-style:italic ;
    }
    .input {
        
        font: small-caption;
        font-size: 16px;
        /* background-image: url(form-img.jpg); */

      }
      /* mobile */
      .p4
      {
        background-color: wheat;
        font-weight: bold;
        font-style:italic ;
        font-size: 16px;
      }
      /* password */
      .p6
      {
        background-color: seashell;
        font-weight: bold;
        font-style:italic ;
        font-size: 16px;
      }

      