/* child combinatos
parent >child
{
css child property here
} */

/* .wrapper{
    background-color: yellow;
}
.wrapper> .one
{
    background-color: yellowgreen;
    padding: 10px;
    font-size: 24px;
}
.wrapper> .two
{
    background-color: red;
    padding: 10px;
    font-size: 24px;
}
.wrapper> .thrid
{
    background-color: blue;
    padding: 10px;
    font-size: 24px;
} */


/* ............................................................................................................. */
/* adjecent sibling combinators- next  sibling after the given the selector[extact next] */
/* sibling one+ sibling two{
    css property
} */

/* .one + p{
   background-color: blueviolet; 
}
p + p{
    background-color: cyan;
} */
/* .......................................................................................................................... */

/* general sibling combinator-  any  sibling after the given selectoSSr
sibling ¬sibling
{
    css  property here
} */

.one ~ div
{
        /* padding: 10px; */
        background-color: green;
    
}
/* .two ~ div
{
        /* padding: 10px; */
        /* background-color: green;
    
} */ 