/* ...................................externalcss................................... */
.div
{ 
   text-align: center;
   background-color: blue;
   /* padding: 180px; */
   }
.p1{

    background-color: yellow;
    width: 12;
    font-weight: bold;
    font-style:italic ;
    text-align: center;
     }
     .p2{
        background-color:wheat;
        padding-left: 2ch; 
        /* padding: 30px; */
        font-size: large; 
        text-align: center;
       
     }
     .p3
     {
         background-color: seashell;
    text-align: center;
    width: 12;
    font-weight: bold;
    text-shadow:green ; 
    font-family:'Times New Roman'; 
     }
    #child_4p  
     {
    text-align:center;
    font-family: 'Lucida Sans';
    font-weight: bold;
   
    text-decoration-color: red;
    background-image: url(form-img.jpg);
     }
 